body {
    background-color: hsl(212, 45%, 89%);
    width: 100vw;
    height: 100vh;
}
@media screen and (max-width: 1440px) {
.container {
    width: 18%;
    height: 65%;
    margin: 20% auto;
    border: 15px solid rgb(255, 255, 255);
    border-radius: 2.5%;
    background-color: rgb(255, 255, 255);
    max-width: fit-content
}
img {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    border-radius: 3%;
}
h3, p {
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

h3 {
    padding: 0px 10px;
    font-weight: bolder;
    font-size: 1.2rem;
    color: hsl(218, 44%, 22%);
}
p {
    font-size: 0.8rem;
    color: hsl(220, 15%, 55%);
}
}
@media screen and (max-width: 375px) {
.container {
    width: 80%;
    height: 75%;
    margin: 20% auto;
    border: 20px solid rgb(255, 255, 255);
    border-radius: 2.5%;
    background-color: rgb(255, 255, 255);
}
img {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    border-radius: 3%;
}
h3, p {
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

h3 {
    padding: 0px 10px;
    font-weight: bolder;
    font-size: 1.5rem;
    color: hsl(218, 44%, 22%);
}
p {
    font-size: 1rem;
    color: hsl(220, 15%, 55%);
}

}